@using PurpleArt.Models
@model VMTodo

@{
    ViewBag.Title = "Agregar Obra";
}

<div class="boton1">


</div>




<div class="principal">

    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("LISTAR", "Listar", "Obra")</li>
                    <li class="boton">@Html.ActionLink("AGREGAR", "Agregar", "Obra")</li>

                </ul>
                <div class="linea">

                </div>
                <div class="linea3">

                </div>
            </div>
        </div>
    </div>


    <div class="secundario">

        <div class="tablaAgregar">
            @using (Html.BeginForm())
            {
                <table  class="tablaO" >
                    <tr>
                        <td>Nombre:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Obra.Nombre)</td>
                    </tr>
                    <tr>
                        <td>Estilo:</td>
                        <td>@Html.DropDownListFor(vmo => vmo.Obra.Estilo.Id, new SelectList(Model.ListaEstilo, "Id", "NombreEstilo"))</td>
                    </tr>
                    <tr>
                        <td>Tipo Obra:</td>
                        <td>@Html.DropDownListFor(vmo => vmo.Obra.TipoObra.Id, new SelectList(Model.ListaTipo, "Id", "NombreTipoObra"))</td>
                    </tr>
                    <tr>
                        <td>Artista:</td>
                        <td>@Html.DropDownListFor(vmo => vmo.Obra.Artista.IdArtista, new SelectList(Model.ListaArtistas, "IdArtista", "ApellidoArtista"))</td>
                    </tr>
                    <tr>
                        <td>Descripcion:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Obra.Descripcion)</td>
                    </tr>
                    <tr>
                        <td>Dimencion:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Obra.Dimension)</td>
                    </tr>
                    <tr>
                        <td>Valuacion:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Obra.Valuacion)</td>
                    </tr>
                    <tr>
                        <td>EstadoObra:</td>
                        <td>@Html.DropDownListFor(vmo => vmo.Obra.EstadoObra, new SelectList(new List<string>{"Muy Bueno","Bueno","Regular","Malo","Muy Malo"}))</td>
                    </tr>
                    <tr>
                        <td>Disponible:</td>
                        <td>@Html.CheckBoxFor(vmo => vmo.Obra.Disponibilidad)</td>
                    </tr>
                    <tr>
                        <td>Fecha Creacion:</td>
                        <td>@Html.EditorFor(vmo => vmo.Obra.FechaCreacion, new { htmlAttributes = new { @class = "datepicker" } })</td>
                    </tr>
                    
                    
                    <tr>
                        <td></td>
                        <td><input type="submit" value="AGREGAR" /></td>
                    </tr>
                </table>

            }


        </div>




    </div>
</div>




<link href="~/Content/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet"/>

@section scripts{
    <script src="~/Content/jquery-ui-1.12.1/jquery-ui.js"></script> 
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}



