@using PurpleArt.Models
@model List<Locker>

@{
    ViewBag.Title = "Lockers No Disponibles";
}

    <div class="boton3">


    </div>

<div class="principal">

    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("DISPONIBLE", "ListarLockerDisponible", "Locker")</li>
                    <li class="boton">@Html.ActionLink("NO DISPONIBLE", "ListarLockerNoDisponible", "Locker")</li>

                </ul>
                <div class="linea">

                </div>
                <div class="linea5">

                </div>
            </div>
        </div>
    </div>


    <div class="secundario">
        

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">OBRA</th>
                        <th scope="col">DIMENSION</th>
                        <th scope="col">INGRESO</th>
                        <th scope="col">EGRESO</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Locker l in Model)
                    {
                    <tr>
                        <th scope="row">@l.Codigo</th>
                        <td>@l.Nombre</td>
                        <td>@l.Obra.Nombre</td>
                        <td>@l.Dimension</td>
                        <td>@l.FechaIngreso</td>
                        <td>@l.FechaEgreso</td>
                        <td class="tdL"><a href="/Locker/Desocupar?id=@l.Codigo">Desocupar</a></td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>