@using PurpleArt.Models
@model VMTodo
@{
    ViewBag.Title = "Ocupar";
}

    <div class="boton3">


    </div>

<div class="principal">

    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("DISPONIBLE", "ListarLockerDisponible", "Locker")</li>
                    <li class="boton">@Html.ActionLink("NO DISPONIBLE", "ListarLockerNoDisponible", "Locker")</li>

                </ul>
                <div class="linea">

                </div>
            </div>
        </div>
    </div>


    <div class="secundario">

        <div class="tablaAgregar">
            @using (Html.BeginForm())
            {
                <table class="tablaOcu">
                    <tr>
                        <td>Codigo:</td>
                        <td>@Model.Locker.Codigo</td>
                        @Html.HiddenFor(vmt => vmt.Locker.Codigo)
                    </tr>
                    <tr>
                        <td>Nombre:</td>
                        <td>@Model.Locker.Nombre</td>
                    </tr>
                    <tr>
                        <td>Dimension:</td>
                        <td>@Model.Locker.Dimension</td>
                    </tr>
                    <tr>
                        <td>Obra:</td>
                        <td>@Html.DropDownListFor(vmt => vmt.Locker.Obra.Codigo, new SelectList(Model.ListaObra, "Codigo", "Nombre"))</td>
                    </tr>
                    <tr>
                        <td>Fecha Ingreso:</td>
                        @Html.HiddenFor(vmo => vmo.Locker.FechaIngreso)
                        <td>@Model.Locker.FechaIngreso</td>
                    </tr>
                    <tr>


                        <td>@Html.HiddenFor(vmo => vmo.Locker.FechaEgreso)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="OCUPAR" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>