<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PurpleArt</title>
    <link rel="shortcut icon" href="~/Content/logo.ico">
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/Estilo2.css")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top barraLogo">
        <div class="container">
            <div class="navbar-header botonHeader">

                @Html.ActionLink("Purple Art", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>

    <div class="navbar ">
        <div class="container">
            <div class="navbar-collapse collapse botonees">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("Obras", "Listar", "Obra")</li>
                    <li class="boton">@Html.ActionLink("Artistas", "ListarArtista", "Artista")</li>
                    <li class="boton">@Html.ActionLink("Lockers", "ListarLockerDisponible", "Locker")</li>
                    <li class="boton">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>




    <div class="container body-content">

        @RenderBody()

    </div>

    <div class="imagenFondo">
        <img src="~/Content/img2.jpg" id="imagenF" />
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

    <footer id="footer" class="sm-padding bg-dark">
        
        <div class="footer-logo">
            <a href="https://cultura.cba.gov.ar"><img class="logoFooter" src="~/Content/logo_cultura-1.png" alt="logo"></a>
            <a href="/Home/Index"><img class="logoFooter" src="~/Content/logo.png" alt="logo"></a>
            
        </div>
        <p class="parrafoFotter">Copyright © 2019. All Rights Reserved. Designed by Epiphany() technology</p>
    </footer>


</body>
</html>
