@using PurpleArt.Models
@model VMTodo
@{
    ViewBag.Title = "Agregar Artista";
}


@{
    List<Provincia> listaPro = Model.Provincias;
    List<Localidad> listaLo = Model.Localidades;
}

<script src="~/Content/seleccionLocalidad.js"></script>


<div class="boton2">


</div>

<div class="principal">

    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("LISTAR", "ListarArtista", "Artista")</li>
                    <li class="boton">@Html.ActionLink("AGREGAR", "Agregar", "Artista")</li>

                </ul>
                <div class="linea">

                </div>
                <div class="linea3">

                </div>
            </div>
        </div>
    </div>


    <div class="secundario">

        <div class="tablaAgregar">
            @using (Html.BeginForm())
            {
                <table class="tablaA">
                    <tr>
                        <td>Nombre:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Artista.NombreArtista)</td>
                    </tr>
                    <tr>
                        <td>Apellido:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Artista.ApellidoArtista)</td>
                    </tr>
                    <tr>
                        <td>Fecha de nacimiento:</td>
                        <td>@Html.EditorFor(vmo => vmo.Artista.FechaNac, new { htmlAttributes = new { @class = "datepicker" } })</td>
                      
                    </tr>
                    <tr>
                        <td>Detalle:</td>
                        <td>@Html.TextBoxFor(vmo => vmo.Artista.Detalle)</td>
                    </tr>

                    <tr>
                        <td>Pais</td>
                        <td>
                            <select id="paisSelect" name="pais" onchange='elegirPais(@(Html.Raw(Json.Encode(listaPro))), @(Html.Raw(Json.Encode(listaLo))) )'>
                                @foreach (Pais p in Model.Paises)
                                {
                                    <option value="@p.IdPais">@p.NombrePais</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Provincia</td>
                        <td>
                            <select id="provinciaSelect" name="pais" onchange='elegirProvincia(@(Html.Raw(Json.Encode(listaLo))))'>
                                @foreach (Provincia pro in Model.Provincias)
                                {
                                    if (pro.Pais.IdPais == 1)
                                    {
                                        <option value="@pro.IdProvincia">@pro.NombreProvincia</option>
                                    }
                                }



                            </select>



                        </td>
                    </tr>
                    <tr>
                        <td>Localidad</td>
                        <td>
                            <select id="localidadSelect" name="localidad" onchange="">
                                @foreach (Localidad l in Model.Localidades)
                                {
                                    if (l.Provincia.IdProvincia == 1)
                                    {
                                        <option value="@l.IdLocalidad">@l.NombreLocalidad</option>
                                    }
                                }

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="AGREGAR" /></td>
                    </tr>
                </table>

            }

        </div>

    </div>

</div>


<link href="~/Content/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Content/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}