@using PurpleArt.Models
@model List<Artista>

@{
    ViewBag.Title = "Artistas";
}


    <div class="boton2">


    </div>

<div class="principal">

    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="boton">@Html.ActionLink("LISTAR", "ListarArtista", "Artista")</li>
                    <li class="boton">@Html.ActionLink("AGREGAR", "Agregar", "Artista")</li>

                </ul>
                <div class="linea">

                </div>
                <div class="linea2">

                </div>
            </div>
        </div>
    </div>


    <div class="secundario">

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">FECHA NAC</th>
                        <th scope="col">DETALLE</th>
                        <th scope="col">LOCALIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Artista a in Model)
                    {
                    <tr>
                        <th scope="row">@a.IdArtista</th>
                        <td>@a.NombreArtista</td>
                        <td>@a.ApellidoArtista</td>
                        <td>@a.FechaNac</td>
                        <td>@a.Detalle</td>
                        <td>@a.Localidad.NombreLocalidad</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>


    </div>


</div>