@using PurpleArt.Models
@model List<Obra>

@{
    ViewBag.Title = "Obras";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="boton1">
    </div>

    <div class="principal">

        <div class="navbar">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="boton">@Html.ActionLink("LISTAR", "Listar", "Obra")</li>
                        <li class="boton">@Html.ActionLink("AGREGAR", "Agregar", "Obra")</li>

                    </ul>
                    <div class="linea">

                    </div>
                    <div class="linea2">

                    </div>
                </div>
            </div>
        </div>


        <div class="secundario">


            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="muestra">

                <table class="table table-bordered table-striped mb-0 tabla" id="muestra">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">ESTILO</th>
                            <th scope="col">TIPO DE OBRA</th>
                            <th scope="col">ARTISTA</th>
                            <th scope="col">DESCRIPCIÓN</th>
                            <th scope="col">DIMENSIÓN</th>
                            <th scope="col">VALUACIÓN</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">DISPONIBILIDAD</th>
                            <th scope="col">FECHA CREACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Obra o in Model)
                        {
                            <tr>
                                <th scope="row">@o.Codigo</th>
                                <td>@o.Nombre</td>
                                <td>@o.Estilo.NombreEstilo</td>
                                <td>@o.TipoObra.NombreTipoObra</td>
                                <td>@o.Artista.NombreArtista</td>
                                <td>@o.Descripcion</td>
                                <td>@o.Dimension</td>
                                <td>@o.Valuacion</td>
                                <td>@o.EstadoObra</td>
                                <td>@o.Disponibilidad</td>
                                <td>@o.FechaCreacion</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>


            <button style="font-size:20px;color:black; background: #FF88E3" onclick="imprim2();">REPORTE <i class="fa fa-file-pdf-o"></i></button>

        </div>




        <script>
            function imprim2() {
                var mywindow = window.open('', 'PRINT', 'height=400,width=600');
                mywindow.document.write('<html><head>');
                mywindow.document.write('<style>.tabla{width:100%;border-collapse:collapse;margin:16px 0 16px 0;}.tabla th{border:1px solid #ddd;padding:4px;background-color:#d4eefd;text-align:left;font-size:15px;}.tabla td{border:1px solid #ddd;text-align:left;padding:6px;}</style>');
                mywindow.document.write('</head><body >');
                mywindow.document.write('<h1>REPORTE OBRAS DISPONIBLES</h1>');
                //mywindow.document.write('<p><img src="~/PurpleArt/Content/logo.png"  width="400" height="400"/></p>');
                mywindow.document.write(document.getElementById('muestra').innerHTML);
                mywindow.document.write('</body></html>');
                mywindow.document.close(); // necesario para IE >= 10
                mywindow.focus(); // necesario para IE >= 10
                mywindow.print();
                mywindow.close();
                return true;
            }
        </script>



        @*<script>
            function imprim2() {
                var mywindow = window.open('', 'PRINT', 'height=400,width=600');
                mywindow.document.write('<html><head>');
                mywindow.document.write('<style>.tabla{width:100%;border-collapse:collapse;margin:16px 0 16px 0;}.tabla th{border:1px solid #ddd;padding:4px;background-color:#d4eefd;text-align:left;font-size:15px;}.tabla td{border:1px solid #ddd;text-align:left;padding:6px;}</style>');
                mywindow.document.write('</head><body >');
                mywindow.document.write(document.getElementById('muestra').innerHTML);
                mywindow.document.write('</body></html>');
                mywindow.document.close(); // necesario para IE >= 10
                mywindow.focus(); // necesario para IE >= 10
                mywindow.print();
                mywindow.close();
                return true;
            }
        </script>*@
    </div>











